<f:layout name="Default" />
<f:section name="Main">
<h2><f:translate key="LLL:EXT:form_double_opt_in/Resources/Private/Language/locallang.xlf:tx_formdoubleoptin_domain_model_optin.confirm-title" /></h2>
<p>
    <br />
    <f:translate key="LLL:EXT:form_double_opt_in/Resources/Private/Language/locallang.xlf:tx_formdoubleoptin_domain_model_optin.text-confirm" />
    <br /><br />
    <f:form action="validation" controller="DoubleOptIn" extensionName="formdoubleoptin" pluginName="doubleoptin" pageUid="{validationPid}" absolute="1">
        <f:form.hidden name="hash" value="{optIn.validationHash}" />
        <f:form.hidden name="textSuccess" value="{textSuccess}" />
        <f:form.submit value="{f:translate(key: 'LLL:EXT:form_double_opt_in/Resources/Private/Language/locallang.xlf:tx_formdoubleoptin_domain_model_optin.text-confirmation.button')}" class="btn btn-primary" />
    </f:form>
</p>
</f:section>
